@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="text-4xl">Calculadora de calorias (balance)</h1>
    <div class="mt-10">
        <input type="text" class="sm:w-80 w-80 p-2 text-black" />
    </div>
    <div class="mt-10">
        <button class="bg-white text-black p-2 text-3xl font-bold hover:bg-gray-300 transition-all">Enviar</button>
    </div>
</div>
